[submodule "retro-go-stm32"]
	path = retro-go-stm32
	url = https://github.com/sylverb/retro-go-stm32.git
[submodule "LCD-Game-Emulator"]
	path = LCD-Game-Emulator
	url = https://github.com/sylverb/LCD-Game-Emulator.git
[submodule "blueMSX-go"]
	path = blueMSX-go
	url = https://github.com/sylverb/blueMSX-go.git
[submodule "potator"]
	path = potator
	url = https://github.com/sylverb/potator.git
[submodule "gwenesis"]
	path = gwenesis
	url = https://github.com/sylverb/gwenesis.git
[submodule "prosystem-go"]
	path = prosystem-go
	url = https://github.com/sylverb/prosystem-go.git
[submodule "caprice32-go"]
	path = caprice32-go
	url = https://github.com/sylverb/caprice32-go.git
[submodule "fceumm-go"]
	path = fceumm-go
	url = https://github.com/sylverb/fceumm-go.git
[submodule "zelda3"]
	path = zelda3
	url = https://github.com/sylverb/zelda3.git
[submodule "smw"]
	path = smw
	url = https://github.com/sylverb/smw.git
[submodule "tamalib"]
	path = tamalib
	url = https://github.com/BenjaminSoelberg/tamalib.git
[submodule "external/gpsp"]
	path = external/gpsp
	url = https://github.com/sylverb/gpsp.git
	branch = gnw-port
